@import 'bootstrap/dist/css/bootstrap.min.css';
.App{
  text-align: center;
}
.container{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 20px;
  background-color: gainsboro;
  
}
label {
  padding: 10px;
  
}
input, button{
  background-color: antiquewhite;
  border-radius: 5px;
  margin-left: 5px;
}
.diferent{
  background-color: black;
  color: antiquewhite;
}
